*.zip filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.pkg filter=lfs diff=lfs merge=lfs -text
*.zip !text !filter !merge !diff
*.exe !text !filter !merge !diff
*.tar.gz !text !filter !merge !diff
*.pkg !text !filter !merge !diff
